.header{
    background-color: black;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    border: 5px solid red;
}

.profile{
    height: 100px;
    width: 100px;
}